header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: #404040;
    box-shadow: 0px 5px 10px 0px black;
    z-index: 255;
}
#header_box {
    display: block flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 100%;
    background-color: #404040;
}
#header_logo {
    display: block;
    position: relative;
    margin: 0;
    width: auto;
    height: 100%;
}
#header_buttonbox {
    display: block flex;
    position: relative;
    margin-left: auto;
    width: auto;
    height: 100%;
}
.header_button {
    display: block flex;
    position: relative;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    height: 100%;
    background-color: #404040;
    font-family: "Segoe UI", "Yu Gothic UI", "Hiragino Sans";
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 5px black;
    text-decoration: none;
}
.header_button:hover {
    background-color: #606060;
    transition-duration: 200ms;
}